// Small devices (landscape phones, 480px and up)
@mixin xs {
  @media (max-width: 480px) {
    @content;
  }
}

// Medium devices (tablets, 767px and up)
@mixin sm {
  @media (max-width: 767px) {
    @content;
  }
}

// Large devices (desktops, 992px and up)
@mixin md {
  @media (min-width: 768px) and (max-width: 979px) {
    @content;
  }
}

// XX-Large devices (larger desktops, 1400px and up)
@mixin xl {
  @media (min-width: 1200px) {
    @content;
  }
}
